.content{
    margin-top: 20px;
    font-family: "Poppins";
    transition: transform 0.3s ease-out;
}

.Open{
    width: 81.75%;
    transform: translateX(280px);
}

.Close{
    width: 100%;
    transform: translateX(0%);
}